/* footer */

.midias{
    color: rgb(252, 249, 249);
    font-family: montserrat;
    font-size: 30px;
    text-align: center;
    padding-top: 70px;
}
.copyright{
    background-color:#021324;
    height: 50px;
    color: rgb(252, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
    padding-top: 25px
}

select{
    margin: 10px;
}

#table{
    display: table;
    /* display: inline-block; */
}

#column1{
    display: inline-block;
}

#column2{
    display: inline-block;
}

td {
    padding: 5px;
    background-color: rgb(220, 220, 220);
}