body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-items{
    background-color: rgb(229, 239, 248);
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#hidden{
    display: none;
}

p {
    display: inline;
    font-size: 27px;
}

li{
    color: rgb(86, 157, 200);
    padding: 30px;
    display: inline;
    font-size: 22px;
}

li:hover {
    color: rgb(31, 39, 57);
    cursor: pointer;
}

.expl-text{
    background-color:rgb(61, 74, 90);
    height: 60px;
    color: rgb(252, 249, 249);
    text-align: center;
    padding-top: 30px;
}

h1 {
    font-size: 38px;
    color: rgb(31, 39, 57);
}

main{
    text-align: center;
}

#slct{
    -webkit-appearance: none;
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat rgb(238, 238, 238);  /* Imagem de fundo (Seta) */
    background-position: right; 
    width: 300px;
    height: 40px;
    border: 1px solid rgb(221, 221, 221);
    padding: 5px;
    font-size: 15px;
    color: rgb(61, 74, 90);
    margin: 30px;
}

.column {
    background-color: rgb(31, 39, 57);
    font-weight: bold;
}

#column2:hover{
    cursor: pointer;
    background-color: #569dc8;
}

.container {
    width: 45%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 150px;
}

.container td, .container th {
    padding: 2%;
    color: rgb(255, 255, 255);
}

.container tr:nth-child(odd) {
    background-color: rgb(85, 85, 107);
}

.container tr:nth-child(even) {
    background-color: rgb(121, 121, 136);
}

.container tr:hover {
    background-color: rgb(31, 39, 57);
}

.calcAg p{
     background-color: #4bb7a0;
     font-weight: bold;
     width: 45%;
     margin: auto;
     font-size: 20px;
      margin-bottom: 150px;
     padding: 2%;
     color: rgb(255, 255, 255);
     display: inline-block;
}

.fundo{
    background-color:rgb(86, 157, 200);
    height: 200px;
    padding: 5px;
    text-align: center;
    color: rgb(252, 249, 249);
    font-size: 25px;
}

a {
    font-size: 18px;
    color: rgb(61, 74, 90);
}

.midias i {
    margin: 15px;
}

.copyright {
   background-color:rgb(61, 74, 90);
   height: 40px;
   color: rgb(255, 255, 255);
   text-align: center;
   padding-top: 15px;
}

.copyright p{
    font-size: 12px;
}

.circle{
    display: flex;
    justify-content: space-between;
    margin: 7%;
}

.circle :hover {
    cursor: pointer;
}

img.acende {
    opacity: 0.88;
 }
    
img.acende:hover {
    opacity: 1.0; 
}

.chart{
    background-color: #569dc8;
    width: 1200px;
    margin: 20px;
    height: 350px;
    padding: 10px;
}

    